@import url("https://fonts.googleapis.com/css?family=Open+Sans|Oswald:100,300,400,600");
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/*
$zindex: (
  overlay:                    9000,
  dropdown:                   8000,
  nav:                        7000,
  header:                     6000,
  footer:                     5000,
  pseduo:                     4000,
  default:                    1,
  bottomless-pit:             -10000
);*/
@viewport {
  width: device-width; }
html {
  background-color: #fff;
  box-sizing: border-box;
  height: 100%; }

*:before, *:after {
  box-sizing: inherit; }

body {
  -webkit-font-smoothing: antialiased;
  color: #666666;
  font-family: "Open Sans", sans-serif;
  min-height: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility; }

a {
  background: transparent;
  color: #000;
  text-decoration: none;
  transition: color .2s; }

img {
  height: auto;
  max-width: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: normal; }

ul {
  list-style: none; }

@media (min-width: 481px) {
  .nav__menu__submenu {
    display: none; } }

.card--layout {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 40px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding: 0;
  width: 95%; }
  @media (min-width: 481px) {
    .card--layout {
      transition: all 1s ease; } }

.card--wide-img-layout {
  width: 100%; }
  .card--wide-img-layout img {
    width: 100%; }

@media (min-width: 481px) {
  .wide-img-layout-category {
    position: absolute;
    top: 0;
    transition: all 1s ease; } }

.card--img-to-the-left-layout {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-bottom: 40px; }

.img-to-the-left-layout-category {
  width: 100%;
  margin-left: -5%;
  margin-right: 0;
  margin-top: 10px;
  display: block; }
  @media (min-width: 481px) {
    .img-to-the-left-layout-category {
      position: absolute;
      top: 0;
      transition: all 1s ease; } }
  .img-to-the-left-layout-category .img-to-the-left-layout {
    width: 45%;
    float: left;
    margin-right: 10px; }
    .img-to-the-left-layout-category .img-to-the-left-layout img {
      width: 100%; }
  .img-to-the-left-layout-category h2 {
    font-size: 2em;
    font-weight: 600;
    text-align: left; }
  .img-to-the-left-layout-category p {
    /*font-size: em(14);
    letter-spacing: .5px;
    line-height: em(20,14);
    color:$color-text;
    width: 83%;*/
    margin-left: 12%;
    margin-right: 7%;
    text-align: left; }

.card--img-to-the-right-layout {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-bottom: 20px; }

.img-to-the-right-layout-category {
  width: 100%;
  margin-left: 5%;
  margin-right: 0;
  display: block;
  z-index: 1; }
  @media (min-width: 481px) {
    .img-to-the-right-layout-category {
      position: absolute;
      top: 0;
      transition: all 1s ease; } }
  .img-to-the-right-layout-category .img-to-the-right-layout {
    width: 45%;
    float: right;
    margin-left: 10px; }
    .img-to-the-right-layout-category .img-to-the-right-layout img {
      width: 100%; }
  .img-to-the-right-layout-category h2 {
    font-size: 2em;
    font-weight: 600;
    text-align: right; }
  .img-to-the-right-layout-category p {
    /*font-size: em(14);
    letter-spacing: .5px;
    line-height: em(20,14);
    color:$color-text;*/
    margin-right: 12%;
    margin-left: 7%;
    text-align: right; }

.card--quote-layout {
  display: none; }

.quote-layout-category {
  z-index: 1;
  width: 105%;
  margin-left: -5%; }
  @media (min-width: 481px) {
    .quote-layout-category {
      position: absolute;
      top: 0;
      transition: all 1s ease; } }
  .quote-layout-category p {
    margin-left: 12%;
    margin-right: 5%;
    margin-top: 10px;
    margin-bottom: 10px; }

.gallery-layout-category {
  width: 97%;
  margin-left: 1.5%;
  margin-right: 1.5%; }
  @media (min-width: 481px) {
    .gallery-layout-category {
      position: absolute;
      top: 0;
      transition: all 1s ease; } }
  .gallery-layout-category .gallery-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    grid-auto-rows: minmax(10px, auto);
    grid-auto-flow: dense; }
    .gallery-layout-category .gallery-layout img {
      width: 100%;
      height: 100%;
      display: block;
      box-sizing: border-box; }
    .gallery-layout-category .gallery-layout .img-border-left {
      border-left: 3px solid black; }
    .gallery-layout-category .gallery-layout .img-border-right {
      border-right: 3px solid black; }
    .gallery-layout-category .gallery-layout .img-border-top {
      border-top: 3px solid black; }
    .gallery-layout-category .gallery-layout .img-border-bottom {
      border-bottom: 3px solid black; }

.gallery-layout-category {
  width: 97%;
  margin-left: 1.5%;
  margin-right: 1.5%; }
  @media (min-width: 481px) {
    .gallery-layout-category {
      position: absolute;
      top: 0;
      transition: all 1s ease; } }
  .gallery-layout-category .gallery-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    grid-auto-rows: minmax(10px, auto);
    grid-auto-flow: dense; }
    .gallery-layout-category .gallery-layout img {
      width: 100%;
      height: 100%;
      display: block;
      box-sizing: border-box; }
    .gallery-layout-category .gallery-layout .img-border-left {
      border-left: 3px solid black; }
    .gallery-layout-category .gallery-layout .img-border-right {
      border-right: 3px solid black; }
    .gallery-layout-category .gallery-layout .img-border-top {
      border-top: 3px solid black; }
    .gallery-layout-category .gallery-layout .img-border-bottom {
      border-bottom: 3px solid black; }

.card--img-background-layout {
  position: relative;
  width: 85%;
  margin-left: 7.5%;
  margin-right: 7.5%; }

@media (min-width: 481px) {
  .img-background-layout-category {
    position: absolute;
    top: 0;
    transition: all 1s ease; } }
.img-background-layout-category .img-background-layout img {
  width: 100%;
  display: block; }
.img-background-layout-category .img-background-container-layout {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); }

.large-img-layout-category {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%; }
  @media (min-width: 481px) {
    .large-img-layout-category {
      position: absolute;
      top: 0;
      transition: all 1s ease; } }
  .large-img-layout-category .large-img-layout {
    width: 100%; }
    .large-img-layout-category .large-img-layout img {
      width: 100%;
      display: block; }
  .large-img-layout-category p, .large-img-layout-category h2 {
    margin-left: 0;
    margin-right: 0; }

.card--wider-img-layout {
  width: 100%; }

.wider-img-layout-category {
  width: 104%;
  margin-left: -4%; }
  @media (min-width: 481px) {
    .wider-img-layout-category {
      position: absolute;
      top: 0;
      transition: all 1s ease; } }
  .wider-img-layout-category img {
    width: 100%;
    display: block; }
  .wider-img-layout-category p {
    margin-left: 10.5%;
    margin-right: 6.5%; }

@media (min-width: 481px) {
  .card__metainfo__list {
    display: flex;
    position: absolute;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around; } }

h1.header__main-heading {
  display: block;
  width: 100%;
  font-family: "Oswald", sans-serif;
  font-size: 4.5em;
  color: #000;
  margin: 0;
  padding: 0;
  font-weight: 600; }
  h1.header__main-heading span {
    display: inline-block;
    position: relative; }
    h1.header__main-heading span:after {
      content: "";
      display: block;
      position: absolute;
      top: 75%;
      right: -12px;
      border: 5px solid yellow;
      width: 0px; }

.header__nav-for-mobiles__item {
  flex: 1 50%; }
  .header__nav-for-mobiles__item--left {
    text-align: left;
    position: relative;
    left: 0px;
    transition: all 1s ease; }
  .header__nav-for-mobiles__item--right {
    text-align: right; }

.header__search-bar__button-exit {
  margin-right: 24px;
  margin-left: auto;
  border: none;
  background: #fff;
  color: #000;
  font-size: 3em;
  font-weight: 300;
  font-family: "Oswald", sans-serif; }

.form__input {
  border: none;
  width: 100%;
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-size: 3.75em;
  font-weight: 100; }
  .form__input::placeholder {
    color: #000; }

.form {
  margin: auto 1em;
  margin-right: 36px;
  padding-bottom: 11.5em; }

.form__input-search-label {
  display: inline-block;
  color: #666666;
  font-family: "Open Sans", sans-serif;
  letter-spacing: .5px;
  margin-top: 0.75em; }

.link {
  color: #000;
  position: relative; }

.nav__menu__item {
  margin: 0;
  padding-bottom: 4px; }

.nav__link--styles {
  font-size: 1.3333333333em;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  font-weight: 300; }
  .nav__link--styles:hover:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    bottom: 2px;
    border-bottom: 10px solid yellow;
    z-index: -1000; }

.card__img-container {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  display: block; }

.card__heading {
  color: #000;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  padding: 6px 0;
  margin: 0;
  margin-left: 10%;
  font-size: 1.6666666667em;
  font-weight: 300; }

.card__heading--bold {
  font-weight: 400; }

.card__heading--bolder {
  font-weight: 600; }

.card__heading--quote {
  color: #fff;
  background: #000;
  margin: 0;
  padding: 6px;
  text-align: center; }

.card__heading--img-background-layout {
  margin: 0 5%;
  padding: 0;
  color: #fff; }

.card__pag {
  font-family: "Open Sans", sans-serif;
  color: #666666;
  margin: 0;
  margin-left: 6.5%;
  margin-right: 6.5%;
  padding: 0;
  color: #666666;
  font-size: 0.875em;
  letter-spacing: .5px;
  line-height: 1.4285714286em; }

ul.header__nav-for-mobiles {
  width: 100%;
  position: relative; }

.header__nav-for-mobiles--layout {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  background: #fff;
  box-shadow: 0 1px 2px #cccccc;
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 10px;
  z-index: 8000; }
  @media (min-width: 481px) {
    .header__nav-for-mobiles--layout {
      display: none; } }

.header__search-bar {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 8001;
  /*
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  left: 100vw;

  */ }

.header__search-bar--styles {
  background: #fff; }

.nav {
  background: #fff; }
  @media (max-width: 480px) {
    .nav--mobile-layout {
      position: fixed;
      overflow: auto;
      top: 0;
      left: -500px;
      width: 80vw;
      min-height: 100vh;
      max-height: 100vh;
      transition: all 1.5s ease;
      box-shadow: 2px 0 3px #cccccc;
      z-index: 8000; } }
  @media (min-width: 481px) {
    .nav--big-screen-layout {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: nowrap;
      position: relative; } }

ul.nav__menu {
  list-style: none;
  margin: 0;
  padding: 0; }
  ul.nav__menu--layout {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 10px; }
  @media (min-width: 481px) {
    ul.nav__menu--big-screens-layout {
      flex-direction: row;
      flex-wrap: wrap;
      z-index: 1;
      position: relative;
      width: 60%;
      max-width: 80%;
      margin-left: 20%; }
      ul.nav__menu--big-screens-layout li {
        flex: 1 50%; } }

.nav__menu__item {
  position: relative; }
  @media (min-width: 481px) {
    .nav__menu__item:hover > .nav__menu__submenu {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-color: white;
      box-shadow: 0 0 10px #cccccc;
      border-radius: 4px;
      min-width: 200px;
      max-width: 100%;
      padding: 10px;
      margin: 4px; } }

.nav__menu__submenu {
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 8000; }
  @media (min-width: 481px) {
    .nav__menu__submenu__item li {
      font-size: 12px; } }

.nav__social-media-menu--layout {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-top: 20px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 20%; }
  .nav__social-media-menu--layout li {
    margin-right: 12px; }
    .nav__social-media-menu--layout li a {
      padding: 3px 6px;
      border: 1px solid white;
      border-radius: 3px; }
      .nav__social-media-menu--layout li a:hover {
        background-color: yellow;
        border-color: yellow; }

.card__metainfo {
  position: absolute;
  display: block;
  width: 100%;
  opacity: 0;
  top: 0;
  transition: all 1s ease; }
  .card__metainfo__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center; }
  .card__metainfo__item {
    font-family: "Oswald", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    padding: 3px; }
    .card__metainfo__item--background {
      background: yellow;
      margin-right: 6px; }
    .card__metainfo__item--span {
      text-transform: none;
      font-weight: 100; }
    .card__metainfo__item--date a {
      color: #b3b3b3;
      font-weight: 100; }

.footer {
  background: #000; }
  .footer__list {
    padding: 12px 24px;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between; }
    .footer__list__items a {
      color: yellow;
      font-size: 12px; }

.flex-main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center; }

.grid {
  /*@media(min-width:1024px){
      grid-template-columns: repeat(auto-fill,minmax(22%,1fr));
  }*/ }
  @media (min-width: 481px) {
    .grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
      grid-auto-rows: minmax(10px, auto);
      grid-auto-flow: dense; } }
  @media (min-width: 781px) {
    .grid {
      grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
      width: 90%;
      margin: 20px 5%;
      grid-column-gap: 1%; } }

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center; }

.card {
  border: .1px solid red;
  position: relative; }
  .card article {
    border: 1px solid blue; }

.nav--mobile-show {
  left: 0;
  transition: all 1s ease;
  z-index: 8001; }

.icon-menu--clicked {
  position: absolute;
  background: #fff;
  top: 10px;
  left: 85vw;
  display: inline-block;
  width: 10vw;
  z-index: 100000;
  transition: all 1s .08s ease; }

.icon-search--clicked {
  visibility: hidden; }

@media (min-width: 481px) {
  .card--hover:hover div.card__metainfo {
    visibility: visible;
    position: absolute;
    top: -20px;
    opacity: 1;
    transition: all .7s .1s ease; }
  .card--hover:hover article {
    position: absolute;
    top: 25px;
    left: 0;
    transition: all .6s ease; } }

@media print {
  *:before, *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=styles.css.map */
