article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/*
$zindex: (
  overlay:                    9000,
  dropdown:                   8000,
  nav:                        7000,
  header:                     6000,
  footer:                     5000,
  pseduo:                     4000,
  default:                    1,
  bottomless-pit:             -10000
);*/
@viewport {
  width: device-width; }
html {
  background-color: #fff;
  box-sizing: border-box;
  height: 100%; }

*:before, *:after {
  box-sizing: inherit; }

body {
  -webkit-font-smoothing: antialiased;
  color: #666666;
  font-family: "Open Sans", sans-serif;
  min-height: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility; }

a {
  background: transparent;
  color: #000;
  text-decoration: none;
  transition: color .2s; }

img {
  height: auto;
  max-width: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: normal; }

ul {
  list-style: none; }

.header__mobile-navbar {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 1px 3px #cccccc;
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 10px;
  z-index: 8000; }
  @media (min-width: 661px) {
    .header__mobile-navbar {
      display: none; } }

.header__search-bar {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 8001; }
  .header__search-bar form {
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center; }

@media (max-width: 660px) {
  .nav__mobile-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    box-shadow: 2px 0 3px #cccccc;
    z-index: 8000; } }
.mobile-menu__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 100%;
  justify-content: flex-start;
  width: 80%;
  float: left; }
  @media (max-width: 660px) {
    .mobile-menu__container {
      overflow-y: auto; } }

.mobile-menu__icon-container {
  width: 20%;
  display: block;
  float: right;
  text-align: center;
  padding: 10px 0; }
  @media (min-width: 661px) {
    .mobile-menu__icon-container {
      display: none; } }

.menu-mobile {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  width: 90%;
  margin: 20px; }

@media (min-width: 661px) {
  .menu-bigger-devices {
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 1;
    position: relative;
    width: 60%;
    max-width: 100%;
    margin: auto; }
    .menu-bigger-devices li {
      flex: 1 50%; } }

@media (min-width: 661px) {
  .nav__bigger-devices-menu {
    display: block; } }

.submenu {
  margin: 10px 0 0 10px;
  padding: 0;
  z-index: 8001; }
  @media (min-width: 661px) {
    .submenu {
      display: none; } }

.menu-social-media {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-top: 20px;
  margin-right: 0;
  margin-bottom: 20px;
  margin-left: 0; }
  .menu-social-media li {
    margin-right: 12px; }
    .menu-social-media li a {
      padding: 3px 6px;
      border: 1px solid white;
      border-radius: 3px; }
      .menu-social-media li a:hover {
        background-color: yellow;
        border-color: yellow; }

.card__post--wide-img-layout {
  width: 95%;
  margin: 0 2.5%; }
  @media (min-width: 1024px) {
    .card__post--wide-img-layout {
      position: absolute;
      top: 0;
      transition: all 1s ease;
      width: 100%; } }

.card__post--img-to-the-left-layout {
  width: 95%;
  margin: 0 2.5%; }
  @media (min-width: 1024px) {
    .card__post--img-to-the-left-layout {
      position: absolute;
      top: 0;
      transition: all 1s ease;
      width: 105%;
      margin-left: -5%;
      margin-right: 0;
      margin-top: 10px;
      display: block;
      z-index: 6000; } }

.card__post--img-to-the-right-layout {
  width: 95%;
  margin: 0 2.5%; }
  @media (min-width: 1024px) {
    .card__post--img-to-the-right-layout {
      position: absolute;
      top: 0;
      transition: all 1s ease;
      width: 105%;
      margin-right: 0;
      display: block;
      z-index: 6000; } }

.card__post--quote-layout {
  width: 100%; }
  @media (min-width: 1024px) {
    .card__post--quote-layout {
      width: 90%;
      margin-left: 5%;
      margin-right: 5%; } }
  @media (min-width: 1024px) {
    .card__post--quote-layout {
      position: absolute;
      top: 0;
      transition: all 1s ease;
      /*p{
        margin-left: 12%;
        margin-right: 5%;
        margin-top: 10px;
        margin-bottom: 10px;
      }*/ } }

.card__post--gallery-layout {
  width: 95%;
  margin: 0 2.5%; }
  @media (min-width: 1024px) {
    .card__post--gallery-layout {
      position: absolute;
      top: 0;
      transition: all 1s ease;
      width: 100%; } }
  .card__post--gallery-layout .gallery-layout {
    width: 100%; }
    .card__post--gallery-layout .gallery-layout__list {
      margin: 0;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
      grid-auto-flow: dense; }
      .card__post--gallery-layout .gallery-layout__list--fifth-grid {
        grid-template-columns: repeat(auto-fill, minmax(20%, 1fr)); }
    .card__post--gallery-layout .gallery-layout__item {
      position: relative; }
      .card__post--gallery-layout .gallery-layout__item:hover span {
        opacity: .4;
        border: none;
        transition: all 1s ease; }
    .card__post--gallery-layout .gallery-layout .item--vertical-dual-action {
      grid-column-end: span 1;
      grid-row-end: span 2; }
    .card__post--gallery-layout .gallery-layout .item--horizontal-dual-action {
      grid-column-end: span 2;
      grid-row-end: span 1; }
    .card__post--gallery-layout .gallery-layout .item--horizontal-triple-action {
      grid-column-end: span 3;
      grid-row-end: span 1; }
    .card__post--gallery-layout .gallery-layout .item--action {
      grid-column-end: span 1;
      grid-row-end: span 1; }
    .card__post--gallery-layout .gallery-layout img {
      width: 100%;
      height: 100%;
      display: block;
      box-sizing: border-box; }
    .card__post--gallery-layout .gallery-layout .img-border-left {
      border-left: 5px solid white; }
    .card__post--gallery-layout .gallery-layout .img-border-right {
      border-right: 5px solid white; }
    .card__post--gallery-layout .gallery-layout .img-border-top {
      border-top: 5px solid white; }
    .card__post--gallery-layout .gallery-layout .img-border-bottom {
      border-bottom: 5px solid white; }

.card__post--gallery-layout {
  width: 95%;
  margin: 0 2.5%; }
  @media (min-width: 1024px) {
    .card__post--gallery-layout {
      position: absolute;
      top: 0;
      transition: all 1s ease;
      width: 100%; } }
  .card__post--gallery-layout .gallery-layout {
    width: 100%; }
    .card__post--gallery-layout .gallery-layout__list {
      margin: 0;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
      grid-auto-flow: dense; }
      .card__post--gallery-layout .gallery-layout__list--fifth-grid {
        grid-template-columns: repeat(auto-fill, minmax(20%, 1fr)); }
    .card__post--gallery-layout .gallery-layout__item {
      position: relative; }
      .card__post--gallery-layout .gallery-layout__item:hover span {
        opacity: .4;
        border: none;
        transition: all 1s ease; }
    .card__post--gallery-layout .gallery-layout .item--vertical-dual-action {
      grid-column-end: span 1;
      grid-row-end: span 2; }
    .card__post--gallery-layout .gallery-layout .item--horizontal-dual-action {
      grid-column-end: span 2;
      grid-row-end: span 1; }
    .card__post--gallery-layout .gallery-layout .item--horizontal-triple-action {
      grid-column-end: span 3;
      grid-row-end: span 1; }
    .card__post--gallery-layout .gallery-layout .item--action {
      grid-column-end: span 1;
      grid-row-end: span 1; }
    .card__post--gallery-layout .gallery-layout img {
      width: 100%;
      height: 100%;
      display: block;
      box-sizing: border-box; }
    .card__post--gallery-layout .gallery-layout .img-border-left {
      border-left: 5px solid white; }
    .card__post--gallery-layout .gallery-layout .img-border-right {
      border-right: 5px solid white; }
    .card__post--gallery-layout .gallery-layout .img-border-top {
      border-top: 5px solid white; }
    .card__post--gallery-layout .gallery-layout .img-border-bottom {
      border-bottom: 5px solid white; }

.card__post--img-background-layout {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  position: relative; }
  @media (min-width: 1024px) {
    .card__post--img-background-layout {
      position: absolute;
      top: 0;
      transition: all 1s ease; } }
  .card__post--img-background-layout .img-background-container-layout {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); }

.card__post--large-img-layout {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%; }
  @media (min-width: 1024px) {
    .card__post--large-img-layout {
      position: absolute;
      top: 0;
      transition: all 1s ease; } }

.card__post--wider-img-layout {
  width: 100%; }
  @media (min-width: 1024px) {
    .card__post--wider-img-layout {
      position: absolute;
      top: 0;
      transition: all 1s ease;
      width: 106%;
      margin-left: -3%; } }

.card__metainfo__list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around; }

.main-heading {
  display: none;
  width: 100%;
  font-family: "Oswald", sans-serif;
  font-size: 4rem;
  color: #000;
  margin: 0;
  padding: 0;
  font-weight: 600;
  text-align: center; }
  @media (min-width: 661px) {
    .main-heading {
      text-align: left;
      display: block;
      font-size: 5rem; } }
  .main-heading span {
    display: inline-block;
    position: relative; }
    .main-heading span:after {
      content: "";
      display: block;
      position: absolute;
      top: 75%;
      right: -12px;
      border: 5px solid yellow;
      width: 0px; }

.main-heading--mobile {
  display: block;
  margin-top: 73px; }
  @media (min-width: 661px) {
    .main-heading--mobile {
      display: none; } }

.mobile-menu__gosht-icon {
  font-size: 24px;
  background: #00000005; }

.nav__menu__item {
  margin: 0;
  padding-bottom: 4px;
  position: relative; }
  @media (min-width: 661px) {
    .nav__menu__item:hover > .submenu {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-color: white;
      box-shadow: 0 0 10px #cccccc;
      border-radius: 4px;
      min-width: 200px;
      max-width: 100%;
      padding: 10px;
      margin: 4px; } }

.mobile-menu__description {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  margin: 24px 5px 5px 5px; }
  .mobile-menu__description i {
    text-decoration: underline;
    color: black; }
  @media (min-width: 661px) {
    .mobile-menu__description {
      display: none; } }

.header__mobile-navbar__item {
  flex: 1 50%;
  font-size: 1.5rem;
  align-self: center; }
  .header__mobile-navbar__item--left {
    text-align: left;
    position: relative;
    left: 0px;
    transition: all .5s ease; }
  .header__mobile-navbar__item--right {
    text-align: right; }

.logo {
  display: block;
  transform: translateY(-100px);
  width: 100%;
  font-family: "Oswald", sans-serif;
  color: #000;
  margin: 0;
  padding: 0;
  font-weight: 700;
  text-align: center; }
  .logo span {
    position: relative; }
    .logo span:after {
      content: "";
      display: block;
      position: absolute;
      top: 70%;
      right: -8px;
      border: 3px solid yellow;
      width: 0px; }

.header__search-bar__button-exit {
  width: 100%;
  border: none;
  background: #fff;
  color: #000;
  font-size: 2rem;
  font-weight: 700;
  font-family: "Oswald", sans-serif;
  text-align: right; }

.form__input {
  border: none;
  width: 100%;
  display: inline-block;
  font-family: "Oswald", sans-serif;
  font-size: 4rem;
  font-weight: 200; }
  .form__input::placeholder {
    color: #000;
    font-weight: 700; }

.form {
  margin: auto 1em;
  margin-right: 36px; }

.form__input-search-label {
  display: inline-block;
  color: #666666;
  font-family: "Open Sans", sans-serif;
  letter-spacing: .1px;
  font-size: 11px; }

.menu-link {
  font-size: 1.3333333333rem;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  font-weight: 200;
  z-index: 8000; }

.menu-link:hover:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  bottom: 2px;
  border-bottom: 10px solid yellow;
  z-index: -1000; }

.card__img {
  width: 100%;
  height: 100%;
  display: block; }

/**
*This is the behaivor of all the headings in different environments(layouts)
*taking always care of the behaivor of the overlaping post and avoiding
*compromise content. That's the reason for the margins approach
*/
.card__heading {
  color: #000;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  padding: 6px 0;
  margin: 0;
  margin-left: 6.5%;
  margin-right: 6.5%;
  font-size: 1.6666666667rem;
  font-weight: 200; }
  .card__heading--img-background-layout {
    padding: 0;
    color: #fff; }
  .card__heading--quote-layout {
    color: #fff;
    background: #000;
    margin: 0;
    margin-bottom: 12px;
    padding: 6px;
    text-align: center; }
  .card__heading--wider-layout {
    margin-left: 10.5%;
    margin-right: 10.5%; }
  .card__heading--large-layout {
    margin-left: 0;
    margin-right: 0; }
  .card__heading--bold {
    font-weight: 400;
    font-size: 1.5rem; }
  .card__heading--bolder {
    font-weight: 700;
    font-size: 1.3333333333rem; }
  .card__heading--to-the-right {
    text-align: right;
    font-size: 1.3333333333rem; }
  .card__heading--to-the-left {
    text-align: left;
    font-size: 1.3333333333rem; }

/**
*This is the behaivor of all the paragraphs in different environments(layouts)
*taking always care of the behaivor of the overlaping post and avoiding
*compromise content. That's the reason for the margins approach
*/
.card__pag {
  font-family: "Open Sans", sans-serif;
  color: #666666;
  margin: 0;
  margin-left: 6.5%;
  margin-right: 6.5%;
  padding: 0;
  font-size: 0.9166666667rem;
  line-height: 1.4285714286rem; }
  .card__pag--wider-layout {
    margin-left: 10.5%;
    margin-right: 10.5%; }
  .card__pag--large-layout {
    margin-left: 0;
    margin-right: 0; }
  .card__pag--to-the-right {
    text-align: right;
    margin-right: 11.5%; }
  .card__pag--to-the-left {
    text-align: left;
    margin-left: 11.5%; }

.footer__list__items a {
  color: #b3b3b3;
  font-size: 0.8333333333rem; }
.footer__list__items--arrow a {
  color: #fff;
  font-size: 1rem; }
.footer__list__items--primary {
  color: #ffff00d9;
  font-style: normal;
  font-size: 0.75rem; }
.footer__list__items--secondary {
  color: rgba(255, 255, 0, 0.7); }

.header__mobile-navbar {
  background: #fff;
  box-shadow: 0 1px 3px #cccccc; }

.header__search-bar {
  background: #fff; }

.nav {
  background: transparent; }

.mobile-menu__container {
  background: #fff; }
  @media (max-width: 660px) {
    .mobile-menu__container {
      box-shadow: 1px 0 7px #8080807d; } }

.mobile-menu__icon-container {
  box-shadow: inset 3px 0px 3px #0000000d;
  background: #fff; }

.card__metainfo {
  display: block;
  width: 100%; }
  @media (min-width: 1024px) {
    .card__metainfo {
      position: absolute;
      opacity: 0;
      top: 0;
      transition: all 1s ease; } }
  .card__metainfo__list {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding-left: 0; }
    .card__metainfo__list--to-the-right {
      justify-content: flex-start; }
    .card__metainfo__list--to-the-left {
      flex-direction: row-reverse;
      justify-content: flex-start; }
  .card__metainfo__item {
    font-family: "Oswald", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    padding: 3px; }
    .card__metainfo__item--background {
      background: yellow; }
    .card__metainfo__item--span {
      text-transform: none;
      font-weight: 100; }
    .card__metainfo__item--date a {
      color: #b3b3b3;
      font-weight: 100; }
    .card__metainfo__item--to-the-left {
      margin-right: 11.5%; }
    .card__metainfo__item--to-the-right {
      margin-left: 11.5%; }

.container-img {
  width: 100%;
  position: relative;
  text-align: center; }
  .container-img span {
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 1s ease; }
    .container-img span a {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      color: white;
      text-transform: uppercase;
      font-size: 1.5rem;
      font-family: "Oswald", sans-serif;
      letter-spacing: 1px; }
  .container-img--right {
    width: 45%;
    float: right;
    margin-left: 10px; }
  .container-img--left {
    width: 45%;
    float: left;
    margin-right: 10px; }

.footer {
  background: #000; }
  .footer__list {
    padding: 12px 24px;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between; }

.flex-main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center; }
  @media (min-width: 481px) {
    .flex-main {
      width: 80%;
      margin: 0 10%; } }
  @media (min-width: 580px) {
    .flex-main {
      width: 70%;
      margin: 0 15%; } }
  @media (min-width: 620px) {
    .flex-main {
      width: 60%;
      margin: 0 20%; } }

@media (min-width: 661px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    grid-auto-rows: minmax(10px, auto);
    grid-auto-flow: dense;
    width: 90%;
    margin: 20px 5%;
    grid-column-gap: 1%; } }
@media (min-width: 1050px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr)); } }
@media (min-width: 2048px) {
  .grid {
    grid-template-columns: repeat(auto-fill, minmax(22%, 1fr)); } }

header {
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  position: fixed;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  z-index: 8000; }
  @media (min-width: 661px) {
    header {
      position: relative;
      margin-bottom: 20px;
      margin-top: 60px; } }

.card {
  position: relative;
  width: 100%;
  margin: 0 0 15px 0; }
  @media (min-width: 1024px) {
    .card {
      transition: all 1s ease; } }

.nav--mobile-show {
  left: 0;
  transition: all 1s ease;
  z-index: 8001; }

.icon-menu--clicked {
  position: absolute;
  background: #fff;
  top: 10px;
  left: 85vw;
  display: inline-block;
  width: 10vw;
  z-index: 100000;
  transition: all .5s ease; }

.icon-search--clicked {
  visibility: hidden; }

@media (min-width: 1024px) {
  .card--hover:hover div.card__metainfo {
    visibility: visible;
    position: absolute;
    top: -20px;
    opacity: 1;
    transition: all .7s .1s ease; }
  .card--hover:hover article {
    position: absolute;
    top: 35px;
    left: 0;
    transition: all .6s ease; }
    .card--hover:hover article div .card__span--opaque {
      opacity: .7;
      transition: all 1s ease; } }

.ui-loader h1,
.ui-corner-all h1,
.ui-body-a h1,
.ui-loader-default h1 {
  display: none; }

@media print {
  *:before, *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype"), url("../fonts/opensans-regular-webfont.woff") format("woff"), url("../fonts/opensans-regular-webfont.woff2") format("woff2"); }
@font-face {
  font-family: "Oswald";
  font-weight: 600;
  src: url("../fonts/oswald-semibold-webfont.ttf") format("truetype"), url("../fonts/oswald-semibold-webfont.woff") format("woff"), url("../fonts/oswald-semibold-webfont.woff2") format("woff2"); }
@font-face {
  font-family: "Oswald";
  font-weight: 200;
  src: url("../fonts/Oswald-ExtraLight.ttf") format("truetype"), url("../fonts/oswald-extralight-webfont.woff") format("woff"), url("../fonts/oswald-extralight-webfont.woff2") format("woff2"); }
@font-face {
  font-family: "Oswald";
  font-weight: 400;
  src: url("../fonts/Oswald-Regular.ttf") format("truetype"), url("../fonts/oswald-regular-webfont.woff") format("woff"), url("../fonts/oswald-regular-webfont.woff2") format("woff2"); }
@font-face {
  font-family: "Oswald";
  font-weight: 700;
  src: url("../fonts/Oswald-Heavy.ttf") format("truetype"), url("../fonts/oswald-heavy-webfont.woff") format("woff"), url("../fonts/oswald-heavy-webfont.woff2") format("woff2"); }

/*# sourceMappingURL=styles.css.map */
