//ATOMS
//.....FOOTER__LIST__ITEMS
//

.footer__list__items{
  & a{
    color:$color-text-weak;
    font-size:rem(10,12);
  }
  &--arrow a{
    color:$color-terciary;
    font-size: rem(12,12);
  }
  &--primary{
    color:$color-secondary;
    font-style: normal;
    font-size: rem(9,12);
  }
  &--secondary{
    color:rgba(yellow,.7);
  }
}
