//ATOMS
//.....FOOTER__LIST__ITEMS
//

.footer__list__items{
  & a{
    color:$color-text-weak;
    font-size:12px;
  }
  &--arrow a{
    color:yellow;
    font-size: 15px;
  }
  &--primary{
    color:$color-secondary;
    font-style: normal;
    font-size: 13px;
  }
  &--secondary{
    color:rgba(yellow,.7);
  }
}
