//MOLECULES
//.........NAV__SOCIAL-MEDIA
//

.nav__social-media-menu{
  &--layout{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    @include reset-list;
    @include reset-content(0,0,0,0,20px,0,0,20%);
    li{
      margin-right: 12px;
      a{
        padding: 3px 6px;
        border:1px solid white;
        border-radius: 3px;
        &:hover{
          background-color:yellow;
          border-color:yellow;
        }
      }
    }
  }
}
