//MOLECULES
//.........NAV
//

.nav{
  background: transparent;
    @media(max-width:660px ){
      &--mobile-layout{
      display: none;
      position:absolute;
      top:0;
      left: 0;
      width:100%;
      min-height: 100vh;
      box-shadow: 2px 0 3px $color-background-shade;
      z-index:8000;
      .nav__menus-container{
        overflow-y: auto;
        background: $color-background;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex: 1 100%;
        justify-content: flex-start;
        width: 80%;
        //height:100vh;//check if in phones works fine
        float: left;
        box-shadow: 1px 0 7px #8080807d;
      }
      .nav__icon-menu-container{
        background: white;
        width: 20%;
        display: block;
        float: right;
        text-align: center;
      }
      .gosht-link{
        font-size:24px;
        box-shadow: 5px 0 7px #8080807d;
        width: 100%;
        display: block;
        padding: 12px 0;
      }
    }
  }
    @media(min-width:661px){
      .nav__icon-menu-container{
        display: none;
      }
  }

}
