//MOLECULES
//.........NAV
//

.nav{
  background: $color-background;
    @media(max-width:480px){
      &--mobile-layout{
      position: fixed;
      overflow:auto;
      top:0;
      left:-500px;
      width:80vw;
      min-height: 100vh;
      max-height: 100vh;
      transition: all 1.5s ease;
      box-shadow: 2px 0 3px $color-background-shade;
      z-index:8000;
    }
  }
    @media(min-width:481px){
      &--big-screen-layout{
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: nowrap;
      position:relative;
    }
  }

}
