//MOLECULES
//.........NAV__SOCIAL-MEDIA
//

.nav__social-media-menu{
  &--layout{
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    @include reset-list;
    @include reset-content(0,0,0,0,40px,0,0,10px);
  }
}
