//STATE
//.........HEADER__SEARCH-BAR--SHOW
//
.header__search-bar--show{
  display: flex;
  position: absolute;
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index:8001;
  transition: all .7s ease-out;
}
