//STATES
//......LINK-MENU--MOVED
//
.icon-menu{
  &--clicked{
    position: absolute;
    background: $color-background;
    top: 10px;
    left: 85vw;
    display: inline-block;
    width: 10vw;
    z-index: 100000;
    transition: all 1s .08s ease;
  }
}
.icon-search{
  &--clicked{
    visibility: hidden;
  }
}
