//LAYOUT
//......HEADER__MOBILE-NAVBAR
//

.header__mobile-navbar{
  box-sizing: border-box;
  //FLEX
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  //...
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  background: $color-background;
  //BOX-SHADOW
  box-shadow: 0 1px 3px $color-background-shade;
  @include reset-list;
  padding:10px;
  z-index: 8000;
  //...
  @media (min-width:661px){//it's hidden
    display: none;
  }

}
