//LAYOUT
//......HEADER__MOBILE-NAVBAR
//

.header__mobile-navbar{
  box-sizing: border-box;
  //FLEX
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  //...
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  @include reset-list;
  padding:10px;
  z-index: 8000;
  //...
  @media (min-width:map-get($breakpoints, small)+1px){//it's hidden
    display: none;
  }

}
