//ATOMS
//.....CARD__HEADING
//

.card__heading{
  color:$black;
  font-family:$font-family-heading;
  text-transform: uppercase;
  padding:6px 0;
  margin: 0;
  margin-left: 10%;
  font-size:em(20,12);
  //font-weight: 300;
}
.card__heading--bold{
  font-weight: 400;
}
.card__heading--bolder{
  font-weight: 600;
}
