//ATOMS
//.....CARD__HEADING
//

.card__heading{
  color:$black;
  font-family:$font-family-heading;
  text-transform: uppercase;
  padding:6px 0;
  margin: 0;
  margin-left: 6.5%;
  margin-right:6.5%;
  font-size:rem(20,12);
  font-weight: $font-weight-light;
  &--wider-layout{
    margin-left:10.5%;
    margin-right:10.5%;
  }
  &--large-layout{
    margin-left:0;
    margin-right:0;
  }
  &--bold{
    font-weight: $font-weight-reg;
    font-size: rem(18,12);
  }
  &--bolder{
    font-weight: 700;
    font-size: rem(16,12);
  }
  &--to-the-right{
    text-align: right;
    font-size: rem(16,12);
  }
  &--to-the-left{
    text-align: left;
    font-size: rem(16,12);
  }
}
