//MOLECULES
//.........CARD__METAINFO
//

.card__metainfo{
  display: block;
  width: 100%;
  @media(min-width:1024px){
    position: absolute;
    opacity: 0;
    top:0;
    transition: all 1s ease;
  }
  &__list{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding-left: 0;
    &--to-the-right{
      justify-content: flex-start;
    }
    &--to-the-left{
      flex-direction:row-reverse;
      justify-content: flex-start;
    }
  }
  &__item{
    font-family: $font-family-heading;
    font-size: 12px;
    text-transform: uppercase;
    padding: 3px;
    &--background{
      background: yellow;
      //margin-right: 6px;
    }
    &--span{
      text-transform: none;
      font-weight: 100;
    }
    &--date a{
      color:$color-text-weak;
      font-weight: 100;
    }
    &--to-the-left{
      margin-right: 11.5%;
    }
    &--to-the-right{
      margin-left: 11.5%;
    }
  }
}
