//LAYOUT
//......CARD--WIDER-IMG-LAYOUT
//

.card--wider-img-layout{
    width: 100%;
    img{
      width:100%;
    }
  }

  .card--wider-img-layout-category{
    width: 105%;
    margin-left: 0;
    margin-right: 0;
  }
