//LAYOUT
//......CARD--WIDER-IMG-LAYOUT
//

.card--wider-img-layout{
    width: 100%;
    img{
      width:100%;
    }
  }

  .card--wider-img-layout-category{
    width: 104%;
    margin-left: -4%;
    p{
      margin-left: 10.5%;
      margin-right: 6.5%;
    }
  }
