//LAYOUT
//......CARD--LAYOUT
//

.card--layout{
  box-sizing: border-box;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom:40px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding: 0;
  width: 95%;
  transition: all 1s ease;
}
