//LAYOUT
//......CARD--WIDE-IMG-LAYOUT
//


.card--wide-img-layout{
    width: 100%;
    img{
      width:100%;
    }
}
.wide-img-layout-category{
  @media(min-width:481px){
    position: absolute;
    top: 0;
    transition: all 1s ease;
  }
}
