//LAYOUT
//......CARD--LARGE-IMG-LAYOUT
//

.card--large-img-layout{
    width: 100%;
    img{
      width:100%;
      display:block;
    }
    &~p,&~h2{
      margin-left: 0;
      margin-right: 0;
    }
}

.card--large-img-layout-category{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;

}
