//LAYOUT
//......CARD--QUOTE-LAYOUT
//

.card__post--quote-layout{
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;

  @media(min-width:map-get($breakpoints, large)){
    position: absolute;
    top: 0;
    transition: all 1s ease;
  }

}
