//LAYOUT
//......CARD__METAINFO__LIST
//

.card__metainfo__list{
  display: flex;
  position: absolute;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  //visibility: hidden;
}
