//ATOMS
//.....CARD__IMG-BACKGROUND
//

.card--img-background-layout{
  position: relative;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;


}
.img-background-layout-category{
  @media(min-width:481px){
    position: absolute;
    top: 0;
    transition: all 1s ease;
  }
  .img-background-layout{
    img{
      width:100%;
      display: block;
    }
  }
  .img-background-container-layout{
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba($black,.3);
  }
}
