//LAYOUT
//......CARD--QUOTE-LAYOUT
//

.card--quote-layout{
  display: none;
}
.card--quote-layout-category{
  z-index:1;
  width: 105%;
  margin-left: -5%;
  p{
    margin-left: 12%;
    margin-right: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
