//LAYOUT
//......CARD--WIDER-IMG-LAYOUT
//

.card--wider-img-layout{
    width: 100%;

  }

  .wider-img-layout-category{
    @media(min-width:481px){
      position: absolute;
      top: 0;
      transition: all 1s ease;
    }
    width: 104%;
    margin-left: -4%;
    img{
      width:100%;
      display: block;
    }
    p{
      margin-left: 10.5%;
      margin-right: 6.5%;
    }
  }
