//ATOMS
//.....CARD__IMG-TO-THE-LEFT-LAYOUT
//

.card--img-to-the-left-layout{
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-bottom: 40px;
}
.img-to-the-left-layout-category{

  @media(min-width:481px){
    position: absolute;
    top: 0;
    transition: all 1s ease;
  }
  .img-to-the-left-layout{
    width: 45%;
    float: left;
    margin-right: 10px;
    img{
      width: 100%;
      display: block;
    }
  }
  width: 100%;
  margin-left: -6%;
  margin-right: 0;
  margin-top: 10px;
  display: block;
  h2{//give it a class in the future
    font-size:em(24,12);
    font-weight: 600;
    text-align: left;
  }
  p{//give it a class in the future
    /*font-size: em(14);
    letter-spacing: .5px;
    line-height: em(20,14);
    color:$color-text;
    width: 83%;*/
    margin-left:12%;
    margin-right: 7%;
    text-align: left;
  }
}
