//LAYOUT
//......CARD--LARGE-IMG-LAYOUT
//

.card--large-img-layout{

}

.large-img-layout-category{
  @media(min-width:481px){
    position: absolute;
    top: 0;
    transition: all 1s ease;
  }
  .large-img-layout{
    width: 100%;
    img{
      width:100%;
      display:block;
    }
  }
  p,h2{
    margin-left: 0;
    margin-right: 0;
  }
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
