//LAYOUT
//......CONTAINER__MOBILE-MENU
//

.mobile-menu__container{
  @media(max-width:map-get($breakpoints, small)){
    overflow-y: auto;
  }
  @include flexy(row wrap,flex-start,1 100%);
  //flex: 1 100%;
  width: 80%;
  float: left;
}
