//LAYOUT
//......MOBILE-MENU__ICON-CONTAINER
//

.mobile-menu__icon-container{
  width: 20%;
  display: block;
  float: right;
  text-align: center;
  padding: 16px 0;
  @media(min-width:map-get($breakpoints, small)+1px){
      display: none;
    }
}
