//ATOMS
//.....HEADER__MAIN-HEADING
//

h1.header__main-heading{
  display: block;
  width: 100%;
  font-family: $font-family-heading;
  font-size:em(72);
  color:$black;
  margin: 0;
  padding: 0;
  font-weight: 600;
  @media(max-width:480px){
    text-align: center;
  }
  span{
    display: inline-block;
    position: relative;
    &:after{
      content:"";
      display: block;
      position: absolute;
      top: 75%;
      right:-12px;
      border: 5px solid yellow;
      width: 0px;
    }
  }

}
