//ATOMS
//.....CARD__IMG-TO-THE-RIGHT-LAYOUT
//

.card__post--img-to-the-right-layout{
  width: 95%;
  margin:0 2.5%;
  @media(min-width:map-get($breakpoints, large)){
    position: absolute;
    top: 0;
    transition: all 1s ease;
    //
    width: 105%;
    margin-right: 0;
    display: block;
    z-index: 6000;
  }

}
