//LAYOUT
//......CARD--WIDER-IMG-LAYOUT
//



.card__post--wider-img-layout{
  width: 100%;
  @media(min-width:map-get($breakpoints, large)){
    position: absolute;
    top: 0;
    transition: all 1s ease;
    //
    width: 106%;
    margin-left: -3%;
  }


}
