//ATOMS
//.....HEADER__NAV-FOR-MOBILES__ITEMS
//

.header__mobile-navbar__item{
  flex:1 50%;
  font-size:rem(18,12);
  &--left{
    text-align: left;
    position: relative;
    left:0px;
    transition: all .5s ease;
  }
  &--right{
    text-align:right;
  }
}
.logo{
  display: block;
  transform: translateY(-100px);
  font-size: rem(18,12);
  width: 100%;
  font-family: $font-family-heading;
  color:$black;
  margin: 0;
  margin-top: 6px;
  padding: 0;
  font-weight: 600;
  text-align: center;
  span{
    position: relative;
    &:after{
      content:"";
      display: block;
      position: absolute;
      top: 75%;
      right:-8px;
      border: 3px solid yellow;
      width: 0px;
    }
  }

}
