//ATOMS
//.....HEADER__SEARCH-BAR--BOTTON-EXIT
//

.header__search-bar__button-exit{
  //padding-right: 24px;//to avoid the scroll bar
  width: 100%;
  border: none;
  background:$white;
  color:$black;
  font-size: rem(24,12);
  font-weight:700;
  font-family: $font-family-heading;
  text-align: right;
}
.form__input{
  border: none;
  width: 100%;
  display: inline-block;
  font-family: $font-family-heading;
  font-size: rem(48,12);
  font-weight: 200;
  &::placeholder{
    color:$black;
    font-weight: 700;
  }
}
.form{
  margin:auto 1em;
  margin-right: 36px;
}
.form__input-search-label{
  display: inline-block;
  color:$color-text;
  font-family: $font-family-default;
  letter-spacing: .1px;
  font-size:11px;
}
