//ATOMS
//.....MOBILE-MENU__DESCRIPTION
//

.mobile-menu__description{
  font-size: 11px;
  color: rgba(black,.7);
  text-align: center;
  margin: 24px 5px 5px 5px;
  i{
    text-decoration: underline;
    color: black;
  }
  @media(min-width: 661px){
    display: none;
  }
}
