//MOLECULES
//.........HEADER__SEARCH-BAR
//

.header__search-bar{
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  left: 100vw;
  top:0;
  z-index: 8001;
  transition: all .5s ease-out;
  &--styles{
    background: $white;

  }
}
