//ORGANISMS
//.........FLEX-MAIN
//

.flex-main{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  @media(min-width:map-get($breakpoints, xsmall)){
    width: 80%;
    padding: 0 10%;
  }
  @media(min-width:map-get($breakpoints, xsmall)+100px){
    width: 70%;
    padding: 0 15%;
  }
  @media(min-width:map-get($breakpoints, small)-40px){
    width: 60%;
    padding: 0 20%;
  }
}
