//ORGANISMS
//.........HEADER
//

header{
  top: 0;
  left: 0;
  width:100%;
  display: flex;
  position: fixed;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  z-index: 8000;
  @media(min-width: 481px){
    position: relative;
    margin-bottom: 20px;
    margin-top:60px;
  }
}
